@using Classly.Models.Courses
@using Classly.Services
@using System.Security.Claims
@using Classly.Services.Data
@inject ICourseNotesService courseNotesService;
@inject IHomeworkSubmissionService homeworkService;

@{
    var notes = await courseNotesService.GetNotesForStudentAsync(Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))) ?? [];
    var learningMaterials = notes.Select(x => x.Notes)?.ToList() ??[];

    var due = await courseNotesService.GetNotesWithoutHomeworkAsync(Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))) ?? [];


}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold">Study Lab</h1>
            <p class="lead text-body-secondary">Personalised AI-powered learning to help you practice and progress.</p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h2>Homework Due</h2>
                    @if(due.Count == 0)
                    {
                        <div class="alert alert-success">No homework due</div>
                    } else
                    {
                        <div class="accordion" id="dueAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingDue">
                                    <button class="accordion-button collapsed alert alert-warning p-2"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseDue"
                                            aria-expanded="false"
                                            aria-controls="collapseDue">
                                        @due.Count assignment(s) due...
                                    </button>
                                </h2>
                                <div id="collapseDue" class="accordion-collapse collapse" aria-labelledby="headingDue" data-bs-parent="#dueAccordion">
                                    <div class="accordion-body p-0">
                                        <ul class="list-group list-group-flush">
                                            @foreach (var hw in due)
                                            {
                                                <li class="list-group-item">@hw.Difficulty @hw.Topic</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <hr/>
            </div>
            <div class="row">
                <div class="col">
                    <div class="accordion" id="submittedAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSubmitted">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseSubmitted"
                                        aria-expanded="false"
                                        aria-controls="collapseSubmitted">
                                    Submitted Homework
                                </button>
                            </h2>
                            <div id="collapseSubmitted" class="accordion-collapse collapse" aria-labelledby="headingSubmitted" data-bs-parent="#submittedAccordion">
                                <div class="accordion-body p-0">
                                    <ul class="list-group list-group-flush">
                                        @for (var i = 0; i < notes.Count; i++)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="bi bi-journal-text text-primary me-2"></i>
                                                    <span class="fw-bold">Level:</span>
                                                    <span class="badge
                                        @(notes[i].Difficulty == "Easy" ? "bg-success" :
                                                                                                  notes[i].Difficulty == "Medium" ? "bg-warning text-dark" :
                                                                                                  "bg-danger") ms-1">
                                                    @notes[i].Difficulty
                                                </span>
                                            </div>
                                            <i>Topic: <b>@notes[i].Topic</b></i>

                                                <small class="text-muted">
                                                    <i class="bi bi-calendar-event me-1"></i>
                                                    @notes[i].CreatedAt.ToString("dd MMM yyyy")
                                                </small>
                                                <button class="btn btn-primary">View</button>
                                            </li>
                                                                                }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Your Learning Notes</h2>
            @for (var i = 0; i < notes.Count; i++)
            {
                <div>
                    <div class="accordion" id="accordionExample-@i">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-@i">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse-@i"
                                        aria-expanded="false"
                                        aria-controls="collapse-@i">
                                    @notes[i].Difficulty @notes[i].Topic @notes[i].CreatedAt.ToString("dd MMM yyyy")
                                </button>
                             </h2>
                             <div>
                                <div id="collapse-@i" class="accordion-collapse collapse"
                                     aria-labelledby="heading-@i"
                                     data-bs-parent="#accordionExample-@i">
                                    <div class="accordion-body">
                                        @Html.Raw(notes[i].Notes)
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<div class="row">
    <h2>Your lessons</h2>
    <ul class="list-group list-group-flush">
        @foreach (var note in notes)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <strong>Level:</strong> @note.Difficulty
                    <button class="ms-4 btn btn-outline-primary">View</button>
                </span>

                <span class="badge bg-primary rounded-pill">
                    @note.CreatedAt.ToString("dd MMM yyyy")
                </span>
            </li>
        }
    </ul>
</div>

@* <div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <canvas class="my-4 w-100" id="myChart" width="1056" height="445" style="display: block; box-sizing: border-box; height: 222px; width: 528px;"></canvas>
            <!-- Centered paragraph -->
            <div class="d-flex justify-content-center w-100 mt-3">
                <p class="text-success mb-0">Keep it up – you're improving every week!</p>
            </div>
            <div class="d-flex justify-content-center w-100 mt-3">
                <button class="btn btn-primary mb-4">View Full Report</button>
            </div>

        </div>
    </div>
</div> *@
@* <div class="row mt-4">
    <div class="col">
        <div class="card shadow-sm p-3">
            <div class="col">
                <div class="d-flex justify-content-start">
                    <button class="d-inline-block btn btn-primary me-3 p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                        </svg>Flashcards
                    </button>
                    <button class="d-inline-block btn btn-light me-3 p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                        </svg>Quizzes
                    </button>
                    <button class="d-inline-block btn btn-light me-3 p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                        </svg>Writing
                    </button>
                    <button class="d-inline-block btn btn-light me-3 p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                            <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3" />
                        </svg>Speaking
                    </button>
                    <button class="d-inline-block btn btn-light me-3 p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                            <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z" />
                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z" />
                        </svg>Achievements
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> *@
@* <div class="row mt-4">
    <div class="col">
        <div class="card shadow-sm p-3">
            <h4>Flashcards</h4>
            <div class="d-flex justify-content-center">
                <div class="bg-light w-100">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 300px;">
                        <h5>Hello</h5>
                        <button class="btn btn-primary mt-2">Show Answer</button>
                    </div>
                </div>


                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-light d-inline w-25">< Previous</button>
                <button class="btn btn-light d-inline w-25"> Next ></button>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary w-25">+ Add Flashcard</button>
            </div>
        </div>
    </div> *@



<script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" class="astro-vvvwv3sm"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous" class="astro-vvvwv3sm"></script>
@* <script src="https://getbootstrap.com/docs/5.3/examples/dashboard/dashboard.js" class="astro-vvvwv3sm"></script> *@

<script>
          (() => {
      'use strict'

      // Graphs
      const ctx = document.getElementById('myChart')
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: [
            'Sunday',
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday'
          ],
          datasets: [{
            data: [
              10,
              24,
              36,
              40,
              59,
              62,
              64,
              80,
              90,
              100
            ],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          plugins: {
            legend: {
              display: false
            },
            tooltip: {
              boxPadding: 3
            }
          }
        }
      })
    })()
</script>