@using Classly.Models.Courses
@model CourseNote

@{
    
}

<style>

</style>

<h1>Notes</h1>

<label>Teacher: @ViewBag.Teacher</label><br/>
<label>Student: @ViewBag.Student</label>

<div class="row">
    <div class="col">
        <h3>Content</h3>
        <label><b>Difficulty: @Model.Difficulty</b></label>
        @Html.Raw(Model.Notes)
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <h3 class="card-title">Homework</h3>
                @Html.Raw(Model.Homework.Replace("\n", "<br/>"))
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <h3 class="card-title">Next lesson plan</h3>
                @Html.Raw(Model.NextLessonPlan.Replace("\n", "<br/>"))
            </div>
        </div>
    </div>
</div>



